*,
:root,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
th {
  text-align: center;
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

button {
  display: block;
  /* width: 100%; */
  padding: 0.75rem 3.125rem;
  font-size: 1.25rem;
  /* em -  */
  /* rem - root em */
  background-color: #007bff;
  border: none;
}
button:hover {
  background-color: #0056b3;
  cursor: pointer;
  border: 1px solid #05172b;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.75rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0.5em;
}
.user-card {
  flex: 0 0 calc(25% - 40px);
  max-width: calc(25% - 40px);
  padding: 2rem;
  background-color: #f9f9f9;
  /* border: 1px solid #05172b; */
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .user-card {
    flex: 0 0 calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
  }
}

@media (max-width: 768px) {
  .user-card {
    flex: 0 0 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .user-card {
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}
